.profile_header,
.users_header {
    text-align: center;
    margin-top: 150px;
}

.profile_details {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.profile_image {
    width: 30%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.profile_details_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.visited_parks {
    text-align: center;
    margin-top: 50px;
}

.create_post_button {
    margin-left: 75%;
}

.follow_btn {
    margin-left: 75%;
}

.visited_parks_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.visited_park_images {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
}

.nonvisited_park_images {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.users_container {
    display: flex;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.profile_info_container {
    display: flex;
    flex-direction: column;
}

.all_profile_images {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    cursor: pointer;
}

.profile_username {
    cursor: pointer;
    margin-top: 20px;
}

.profile_fav_team,
.profile_member_since {
    margin-top: -15px;
}
