.profile_header {
    text-align: center;
    margin-top: 150px;
}

.profile_details {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.profile_image {
    width: 30%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.profile_details_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.visited_parks {
    text-align: center;
    margin-top: 50px;
}

.create_post_button {
    margin-left: 75%;
}

.follow_btn {
    margin-left: 75%;
}

.visited_parks_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.visited_park_images {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
}

.nonvisited_park_images {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(100%);
}
