.parks_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.parks_sub_container {
    display: flex;
    justify-content: space-between;
}

.parks_info {
    width: 400px;
    margin: 10px 15px 20px 15px;

}

.parks_image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.park_image {
    width: 30%;
    height: auto;
    border-radius: 5px;
}

.parks_text {
    margin-top: -20px;
}

.parks_name {
    font-size: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.parks_avg_rating {
    font-size: 14px;
    margin-top: 25px;
    font-family: 'Archivo', sans-serif;
    color: rgb(59, 59, 59);
}

.parks_location {
    margin-top: -15px;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
}

.park_details {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.park_details_info {
    width: 350px;
    margin-left: 50px;
}

.park_review_rating_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.park_rating_container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    padding: 20px;
    margin-right: 13%;
}

.star_container {
    display: flex;
    justify-content: center;
}

.star_icon {
    width: 15%;
    height: auto;
}

.park_search_box {
    margin-left: 6%;
    height: 25px;
    font-family: 'Archivo', sans-serif;
    margin-top: 10%;
    margin-bottom: 20px;
}

.park_name {
    font-family: 'Roboto', sans-serif;
}

.park_team,
.park_location,
.park_bio,
.park_capacity {
    font-family: 'Archivo', sans-serif;
}

.park_review_header,
.park_rating_header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.park_review_container {
    width: 390px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    max-height: 150px;
    height: 150px;
    background-color: white;
    margin-left: 18.5%;
}

.park_reviews {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Archivo', sans-serif;
}

.park_review_author {
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
    color: rgb(59, 59, 59);
}

.park_buttons_container {
    display: flex;
    justify-content: space-between;
    margin-top: 11%;
}

.leave_review_btn {
    margin-left: 21%;
    color: white;
    background-color: #133c6c;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}

.leave_review_btn:hover {
    background-color: #184982;
}

.mark_visited_btn {
    margin-right: 21%;
    color: white;
    background-color: #133c6c;
    border: none;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;
}

.mark_visited_btn:hover {
    background-color: #184982;
}

.unmark_visited_btn {
    margin-right: 21%;
    color: white;
    background-color: #0f5714;
    border: none;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;
}

.unmark_visited_btn:hover {
    background-color: #14741b;
}

.review_park_header {
    text-align: center;
    margin-top: 18%;
    font-family: 'Roboto', sans-serif;
}

.form-control-review {
    width: 400px;
    height: 100px;
    font-family: 'Archivo', sans-serif;
}

.form-control-rating {
    width: 400px;
    height: calc(1.5em + .75rem + 2px);
    font-family: 'Archivo', sans-serif;
    margin-bottom: 10px;
}

.new_review_submit_btn {
    width: 408px;
    height: 40px;
    border: 1px solid #0c2340;
    border-radius: 5px;
    background-color: #133c6c;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.new_review_submit_btn:hover {
    background-color: #184982;
}

.review_form {
    margin-left: 36%;
}