.teams_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.teams_info {
    width: 400px;
    margin: 0px 15px 40px 15px;
    text-align: center;
}

.teams_header {
    text-align: center;
    margin-top: 150px;
}

.teams_image {
    width: 100%;
    height: auto;
    max-width: 400px; 
    max-height: 400px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: -75px;
    cursor: pointer;
}

.teams_text {
    margin-top: -100px;
}

.teams_name {
    font-size: 20px;
    cursor: pointer;
}

.teams_avg_rating {
    font-size: 14px;
    margin-top: 25px;
}

.teams_location {
    margin-top: -15px;
    font-size: 14px;
    font-style: italic;
}

.team_details {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


.team_image {
    width: 30%;
    height: auto;
    border-radius: 5px;
    margin-top: -100px;
}

.team_details_info {
    width: 350px;
    margin-left: 50px;
}

.team_info_container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.team_standings, .team_news, .team_schedule {
    border: 2px solid black;
    padding: 10px;
    height: 400px;
    width: 250px;
}