@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Archivo', sans-serif;
}

.container--login {
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1563299796-b729d0af54a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1625&q=80");
    background-size: cover;
}

.form--login {
    background-color: white;
    background-position-x: center;
    z-index: 1;
    min-width: 45rem;
    padding: 0 5rem;
    background-color: hsla(0, 2%, 91%, 0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 400px;
    display: inline-block;
    text-align: left;
    min-height: 100vh;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.login_logo {
    width: 55%;
    height: auto;
    margin-left: 22%;
}

.login_header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.btn-1 {
    width: 420px;
    height: 50px;
    border: 1px solid #0c2340;
    border-radius: 5px;
    background-color: #133c6c;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.btn-1:hover {
    background-color: #184982;
}

.register_link {
    font-size: 14px;
    margin-left: 42%;
    font-family: 'Archivo', sans-serif;
}

.login_info_container {
    margin-top: 30%;
}

.name_container {
    display: flex;
}

.form-control-first-name {
    display: block;
    width: 175px;
    height: calc(1.5em + .75rem + 2px);
    margin-left: 145px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-last-name {
    display: block;
    width: 175px;
    height: calc(1.5em + .75rem + 2px);
    margin-left: 25px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-select {
    display: block;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    height: calc(2.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bio_text {
    height: 200px;
}

.register_header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.login_link {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Archivo', sans-serif;
}